/**/
.progress .progress-bar {
  text-align: center;
  font-size: 2em;
  line-height: 0px;
  padding-top: 1.5em;
}
.label{
  font-size:2em;
}

/**/
body {
  font-size: 18px;
  width:100%;
  text-align: -webkit-center;
  margin-top:50px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn {
  margin:3px;
}
.box-sh>img{
  width:100%;
}
.box-sh{
  max-width: 300px;
  border: 2px solid black;
}
.event-blk{
  padding-bottom: 30%;
}
.navbar-default{
  position: fixed;
  z-index: 100;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(0,0,0,1);
}
.navbar-default .navbar-brand {
  color: rgb(0,0,0);
  padding-left: 14.5px;
  padding-top: 0px;
}
.navbar-default .navbar-brand:hover {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
}
.navbar-toggle{
  background: rgb(0,0,0);
}
.navbar-toggle .icon-bar:hover{
  background: rgba(255,255,255,0.84);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background:rgba(0,0,0,0.7);
}
/*
Height of image
Carousel: 500px;
logo : 300px;
*/
.carousel{
  width:100%; 
  height: 100%;
  overflow-y: hidden;
  text-align: -webkit-center;
}
.carousel>img{
  min-width: 100%;
}
.item h1{
  float:left;
  position: absolute;
  width:100%;
  text-align:center;
  bottom:10em;
  color: white;
  background: rgba(0,0,0,0.45);
  padding: 1em;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);

}
.post{
  padding-left: 5%;
  text-align: left;
}
.footer{
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}