extends ./layout.jade

block title
  title Home

block content
    h1 Hi! Care to see your spending today?    
    .form-group
      label.control-label 
        h3 Type amount spent here
      .input-group
        span.input-group-addon $
        input.form-control(type="text")
    #buttons
    #chosen.progress(style="width:90%; height: 6em")
    #total
    br
    .btn.btn-lg.btn-default.edit
      span.fa.fa-pencil-square-o
      | Edit
    .btn.btn-lg.btn-default.reset
      span.fa.fa-eraser
      | Reset
    
block scripts
  script(src="js/main.mini.js")