//-
  Base layout for the page. 
  blocks can be added for additional and conditional content

mixin navlink(name,link)
  li: a(href=link)=name

doctype html5
html
  head 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width,initial-scale=1")
  block title
  body

    link(href="./css/bootstrap.min.css", rel="stylesheet")
    link(href="./css/font-awesome.min.css", rel="stylesheet")
    link(href="./css/custom.css", rel="stylesheet")

    //This is where our main content is inserted into.

    block carousel
    .content
      block content

    .footer 
      h5 Made in bootstrap

    //Utility scripts
    script(src="js/jquery-1.11.0.js")
    script(src="js/bootstrap.min.js")
    block scripts

